.button {
    width: 100px;
    height: 50px;
    background-color: blue;
    transition: width 2s;
    border-radius: 5%;
}

h1 {
    color: black;
    opacity: 1;
    font-size: 30px;
}

.button:hover {
    width: 200px;
}

h1:hover {
    opacity: 1;
}

.navbar {
    background-color: aqua;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#title {
    text-align: center;
    font-size: 64px;
}

.header {
    border-bottom: solid black 4px;
}

img {
    width: 100px;
    height: 100px;
}